<div>
    <h2>
        <span jhiTranslate="smartNewsApp.tache.home.title">Taches</span>
        <button class="btn btn-primary float-right jh-create-entity create-tache" [routerLink]="['/', { outlets: { popup: ['tache-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="smartNewsApp.tache.home.createLabel">
            Create new Tache
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateEnvoie"><span jhiTranslate="smartNewsApp.tache.dateEnvoie">Date Envoie</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="smartNewsApp.tache.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="log"><span jhiTranslate="smartNewsApp.tache.log">Log</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tache of taches ;trackBy: trackId">
                <td><a [routerLink]="['../tache', tache.id ]">{{tache.id}}</a></td>
                <td>{{tache.dateEnvoie}}</td>
                <td>{{tache.status}}</td>
                <td>{{tache.log}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tache', tache.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tache/'+ tache.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tache/'+ tache.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="taches && taches.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
