
<div *ngIf="tache">
    <h2><span jhiTranslate="smartNewsApp.tache.detail.title">Tache</span> {{tache.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smartNewsApp.tache.dateEnvoie">Date Envoie</span></dt>
        <dd>
            <span>{{tache.dateEnvoie}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsApp.tache.status">Status</span></dt>
        <dd>
            <span>{{tache.status}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsApp.tache.log">Log</span></dt>
        <dd>
            <span>{{tache.log}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tache/'+ tache.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
