
<div *ngIf="planification_emails">
    <h2><span jhiTranslate="smartNewsletterApp.planification_emails.detail.title">Planification Emails</span> {{planification_emails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smartNewsletterApp.planification_emails.planifName">Planif Name</span></dt>
        <dd>
            <span>{{planification_emails.planifName}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsletterApp.planification_emails.destinataire">Destinataire</span></dt>
        <dd>
            <span>{{planification_emails.destinataire}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsletterApp.planification_emails.status">Status</span></dt>
        <dd>
            <span>{{planification_emails.status}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsletterApp.planification_emails.datePlanif">Date Planif</span></dt>
        <dd>
            <span>{{planification_emails.datePlanif}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsletterApp.planification_emails.planifForEmail">Planif For Email</span></dt>
        <dd>
            <div *ngIf="planification_emails.planifForEmail">
                <a [routerLink]="['/email', planification_emails.planifForEmail?.id]">{{planification_emails.planifForEmail?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'planification-emails/'+ planification_emails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
