<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlanification_emailsLabel" jhiTranslate="smartNewsletterApp.planification_emails.home.createOrEditLabel">Create or edit a Planification Emails</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsletterApp.planification_emails.planifName" for="field_planifName">Nom de la planification</label>
            <input type="text" class="form-control" name="planifName" id="field_planifName"
                [(ngModel)]="planification_emails.planifName" required/>
            <div [hidden]="!(editForm.controls.planifName?.dirty && editForm.controls.planifName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.planifName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsletterApp.planification_emails.destinataire" for="field_destinataire">Destinataire</label>
            <input type="email" class="form-control" name="destinataire" id="field_destinataire"
                   [(ngModel)]="planification_emails.destinataire" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
            <div [hidden]="!(editForm.controls.destinataire?.dirty && editForm.controls.destinataire?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.destinataire?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsletterApp.planification_emails.datePlanif" for="field_datePlanif">Date d'envoi</label>
            <!--<input type="text" class="form-control" name="datePlanif" id="field_datePlanif"-->
                <!--[(ngModel)]="planification_emails.datePlanif" required/>-->
            <input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control" name="datePlanif" id="field_datePlanif"
                   [(ngModel)]="planification_emails.datePlanif" required/>
            <div [hidden]="!(editForm.controls.datePlanif?.dirty && editForm.controls.datePlanif?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datePlanif?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsletterApp.planification_emails.planifForEmail" for="field_planifForEmail">Email</label>
            <select class="form-control" id="field_planifForEmail" name="planifForEmail" [(ngModel)]="planification_emails.planifForEmail"  required>
                <option *ngIf="!editForm.value.planifForEmail" [ngValue]="null" selected></option>
                <option [ngValue]="emailOption.id === planification_emails.planifForEmail?.id ? planification_emails.planifForEmail : emailOption" *ngFor="let emailOption of emails; trackBy: trackEmailById">{{emailOption.objet}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.planifForEmail?.dirty && editForm.controls.planifForEmail?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.planifForEmail?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
