<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmailLabel" jhiTranslate="smartNewsApp.email.home.createOrEditLabel">Create or edit a Email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!email.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="email.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsApp.email.destinataires" for="field_destinataires">Destinataires</label>
            <input type="text" class="form-control" name="destinataires" id="field_destinataires"
                [(ngModel)]="email.destinataires" required/>
            <div [hidden]="!(editForm.controls.destinataires?.dirty && editForm.controls.destinataires?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.destinataires?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsApp.email.expediteur" for="field_expediteur">Expediteur</label>
            <input type="text" class="form-control" name="expediteur" id="field_expediteur"
                [(ngModel)]="email.expediteur" required/>
            <div [hidden]="!(editForm.controls.expediteur?.dirty && editForm.controls.expediteur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.expediteur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsApp.email.objet" for="field_objet">Objet</label>
            <input type="text" class="form-control" name="objet" id="field_objet"
                [(ngModel)]="email.objet" required/>
            <div [hidden]="!(editForm.controls.objet?.dirty && editForm.controls.objet?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.objet?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsApp.email.contenu" for="field_contenu">Contenu</label>
            <input type="text" class="form-control" name="contenu" id="field_contenu"
                [(ngModel)]="email.contenu" required/>
            <div [hidden]="!(editForm.controls.contenu?.dirty && editForm.controls.contenu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contenu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartNewsApp.email.pieceJoint" for="field_pieceJoint">Piece Joint</label>
            <input type="text" class="form-control" name="pieceJoint" id="field_pieceJoint"
                [(ngModel)]="email.pieceJoint" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
