<div>
    <h2>
        <span jhiTranslate="smartNewsletterApp.email.home.title">Emails</span>
        <button class="btn btn-primary float-right jh-create-entity create-email" [routerLink]="['/', { outlets: { popup: ['email-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="smartNewsletterApp.email.home.createLabel">
            Create new Email
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="objet"><span jhiTranslate="smartNewsletterApp.email.objet">Objet</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contenu"><span jhiTranslate="smartNewsletterApp.email.contenu">Contenu</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="pieceJoint"><span jhiTranslate="smartNewsletterApp.email.pieceJoint">Joindre une image</span> <span class="fa fa-sort"></span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let email of emails ;trackBy: trackId">
                <!--<td><a [routerLink]="['../email', email.id ]">{{email.id}}</a></td>-->
                <td>{{email.objet}}</td>
                <td>
                    <div [innerHtml]="email.contenu | safeHtml">
                    </div>
                    <!--{{email.contenu}}-->
                </td>
                <!--<td>{{email.pieceJoint}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../email', email.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="emails && emails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
