
<div *ngIf="email">
    <h2><span jhiTranslate="smartNewsletterApp.email.detail.title">Email</span> {{email.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smartNewsletterApp.email.objet">Objet</span></dt>
        <dd>
            <span>{{email.objet}}</span>
        </dd>
        <dt><span jhiTranslate="smartNewsletterApp.email.contenu">Contenu</span></dt>
        <dd>
            <div [innerHtml]="email.contenu | safeHtml">
            </div>
            <!--<span>{{email.contenu}}</span>-->
        </dd>
        <!--<dt><span jhiTranslate="smartNewsletterApp.email.pieceJoint">Piece Joint</span></dt>-->
        <!--<dd>-->
            <!--<span>{{email.pieceJoint}}</span>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
